<!-- begin::User -->
<div class="d-flex align-items-center" [ngClass]="toolbarButtonMarginClass" id="kt_header_user_menu_toggle">
  <div class="cursor-pointer symbol d-flex align-items-center justify-content-center"
    [ngClass]="toolbarUserAvatarHeightClass"
    data-kt-menu-trigger="click"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="bottom"
    style="width:40px; height:40px; background:#fff0f3; border-radius:50%;">
    <app-keenicon name="heart" class="fs-2 text-danger"></app-keenicon>
  </div>
  <app-user-inner></app-user-inner>
</div>
<!-- end::User -->
